html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  background-color: #EDEFF6;
}

.el-button {
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.el-button.is-text {
  width: auto;
  border: none;
  box-shadow: none;
}

.el-pagination {
  justify-content: flex-end;
}

.wrapper {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.wrapper .el-aside {
  padding: 20px
}

.wrapper .el-main {
  overflow: hidden;
  display: flex;
  flex-direction: column
}

.table-wrapper {
  min-height: 120px;
  flex: 1;
  overflow-y: auto;
}

.two-column-form {
  display: flex;
  flex-wrap: wrap;
}

.two-column-form .el-form-item {
  width: 50%;
}